<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.this184400" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Mag Blast</name>
  <description>
        FGC app
    </description>
  <author email="mehul8@gmail.com" href="http://github.com/Mayho">
      Mehul Patel
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>